@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }
 
/* Set core body defaults */
body {
 min-height: 100vh;
 text-rendering: optimizeSpeed;
 line-height: 1.5;
 font-size: 14px;
 font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}
 
html {
 font-size: 62.5%;
 scroll-behavior: smooth;
}
 
.nav-bar li {
 font-family: "Montserrat", sans-serif; /*Change to your preference*/
 font-weight: 500;
 font-size: 30px; /*Change to your preference*/
 display: inline-block;
 padding: 0px 20px;
 list-style: none;
}
 
.nav-bar li a{
 transition: all 0.3s ease 0s;
 text-decoration: none;
 text-transform: uppercase;
 color: black; /*Change to your preference*/
}
 
.nav-bar li a:hover{
color: #c97eb4;
}
 
header {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 padding: 30px 10%;
 color:black;
 background-color: white;
}

#header-intro{
    color:black;
    background-color: #fdf0e6;
    height:400px;
    width:100%;
    display: flex;
   flex-direction: row;
   align-items:center;
   justify-content:space-between;
}

#header-intro h1 {
	font-size: 64px;
	margin: 0;
}

#header-intro h2 {
	font-size: 40px;
	margin: 0;
	color: #F45B69;
	/* Make all of the characters to uppercase*/
	text-transform: uppercase;
}

#header-intro img {
	width: 400px;
	height: 310px;
	background-color: #fff;
	border-radius: 20%;
	margin-left: 40px;
}

#about {
    color:white;
    background-color: black;
    min-height:400px;
    width:100%;
    display: flex;
	align-items: center;
	justify-content: center;
 }

 #about > div {
	max-width: 640px;
	padding: 16px 40px 16px 40px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
 

.title {
 cursor: pointer;
 color: black; /*Change to your preference*/
}
 
footer {
 position:absolute;
 bottom:0;
 width:100%;
 height:60px;   /* Height of the footer */
 text-align: center;
 background: white;
 color: black;
}
